<div class="settings" #overview>
  <app-sidebar (onToggleSidebar)="toggleSidebar()"></app-sidebar>
  <div class="overlayer" (click)="toggleSidebar()"></div>
  <div class="overlayer" (click)="toggleSidebar()"></div>
  <div
    class="overlayer overlayer-filter"
    (click)="toggleExpandedFilters()"
  ></div>
  <div
    class="overlayer-navigation"
    singleDoubleClick
    (onSingleClick)="handleSingleClicks()"
  ></div>
</div>

<div class="main-header">
  <div id="dash-header">
    <div class="top-navigation-block">
      <div
        role="button"
        class="hamburger toggler"
        singleDoubleClick
        (onSingleClick)="handleSingleClicks()"
      >
        <span></span>
      </div>
      <div class="breadcrumb mobile-breadcrumb">
        <div class="company-logo"></div>
        <span>{{ this.myBreadCrumb }}</span>
        <app-breadcrumb></app-breadcrumb>
      </div>
      <input type="checkbox" id="toggle-search" />
      <div class="top-fields">
        
        <nav
          aria-label="breadcrumb"
          role="navigation"
          class="breadcrumb {{ this.myBreadCrumb }}"
        >
        <div class="company-logo"></div>
          <span>{{ this.myBreadCrumb }}</span>
          <app-breadcrumb></app-breadcrumb>
        </nav>

        <div class="dates-block">
          <!-- <div class="dates-title">Time Frame</div> -->
          <kendo-dropdownlist
            [data]="listItems"
            [defaultItem]="defaultItem"
            textField="text"
          >
          </kendo-dropdownlist>
          <div class="refresh-date">
            <span class="title">Updated: </span>
            <span>01 Jan 2022 | 21:00PM</span>
          </div>
        </div>

        <div class="search-block">
          <div class="mobile-search-header">
            Search
            <label for="toggle-search">+</label>
          </div>
          <input
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Search for anything"
            class="search-field"
          />
          <button class="search-submit blue">Search</button>
        </div>
        <div class="header-events">
          <label for="toggle-search" class="icon site-search"
            >Search Field</label
          >
          <div class="notifications">
            <input type="checkbox" id="toggle-notifications" />
            <label for="toggle-notifications" class="icon active"
              >Notifications</label
            >
            <div class="notifications-popup">
              <span class="notifications-title">Notifications</span>
              <ul>
                <li>You have no notifications at this time</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-header-events"></div>
      <div class="user-block" (click)="toggleSidebar()">
        <div class="avatar"></div>
        <div class="name">LongFirstNameWithNoBreakingSpace V.</div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="breadcrumbService.currentModule$ | async as module">
    <div class="filter-block filter-active" #reportfilters>
      <div class="filters" (click)="toggleReportFilters()">
        <span class="filter-title">Filters</span>
        <span class="filter-close">+</span>
      </div>
      <div class="overview-filters">
        <div class="filter-container">
          <div class="block-filters">
            <div class="main-filter-buttons">
              <div class="filter-item">
                <div class="filter-label">Most Important Filter</div>

                <span
                  #multiselectContainer
                  class="k-dropdown-wrap"
                  [class.active]="value && value.length > 0"
                >
                  <kendo-multiselect
                    #multiselect
                    kendoMultiSelectSummaryTag
                    placeholder="Select"
                    [data]="BasicDropdown"
                    [valueField]="valueField"
                    [textField]="textField"
                    [autoClose]="false"
                    [clearButton]="false"
                    [checkboxes]="true"
                    (open)="openMultiselect()"
                    (opened)="openedMultiselect()"
                    (close)="closeMultiselect()"
                    (closed)="closedMultiselect()"
                  >
                  </kendo-multiselect>
                  <span
                    class="k-select"
                    (mousedown)="$event.preventDefault()"
                    (click)="handleToggleClick(multiselect)"
                  >
                    <span class="k-icon k-i-arrow-s"></span>
                  </span>
                </span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Secondary Filter</div>
                <span
                  #multiselectContainer
                  class="k-dropdown-wrap"
                  [class.active]="value && value.length > 0"
                >
                  <kendo-multiselect
                    #multiselect
                    kendoMultiSelectSummaryTag
                    placeholder="Select"
                    [data]="BasicDropdown"
                    [valueField]="valueField"
                    [textField]="textField"
                    [autoClose]="false"
                    [clearButton]="false"
                    [checkboxes]="true"
                    (open)="openMultiselect()"
                    (opened)="openedMultiselect()"
                    (close)="closeMultiselect()"
                    (closed)="closedMultiselect()"
                  >
                  </kendo-multiselect>
                  <span
                    class="k-select"
                    (mousedown)="$event.preventDefault()"
                    (click)="handleToggleClick(multiselect)"
                  >
                    <span class="k-icon k-i-arrow-s"></span>
                  </span>
                </span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Tertiary Filter</div>
                <span
                  #multiselectContainer
                  class="k-dropdown-wrap"
                  [class.active]="value && value.length > 0"
                >
                  <kendo-multiselect
                    #multiselect
                    kendoMultiSelectSummaryTag
                    placeholder="Select"
                    [data]="BasicDropdown"
                    [valueField]="valueField"
                    [textField]="textField"
                    [autoClose]="false"
                    [clearButton]="false"
                    [checkboxes]="true"
                    (open)="openMultiselect()"
                    (opened)="openedMultiselect()"
                    (close)="closeMultiselect()"
                    (closed)="closedMultiselect()"
                  >
                  </kendo-multiselect>
                  <span
                    class="k-select"
                    (mousedown)="$event.preventDefault()"
                    (click)="handleToggleClick(multiselect)"
                  >
                    <span class="k-icon k-i-arrow-s"></span>
                  </span>
                </span>
              </div>
              <div class="filter-item">
                <div class="expand-filters" (click)="toggleExpandedFilters()">
                  <span class="filterblock">More Filters</span>
                </div>
              </div>
            </div>
            <div class="filter-expanded-row">
              <div class="filter-item">
                <div class="filter-label">Another Filter Field</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Filter Field Five</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Filter Field Six</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Filter Field Seven</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
              <div class="filter-item">
                <div class="filter-label">CFilter Field eight</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Filter Field nine</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
              <div class="filter-item">
                <div class="filter-label">Finter Field Ten</div>
                <span class="k-dropdown-wrap"
                  ><span class="k-input">Select</span>
                  <span class="k-select"
                    ><span class="k-icon k-i-arrow-s"></span></span
                ></span>
              </div>
            </div>
          </div>

          <div class="block-filterbuttons">
            <button kendobutton="" class="secondary">Reset</button>
            <button kendobutton="" class="blue">Apply</button>
            <div class="close-filters" (click)="toggleExpandedFilters()">+</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
