@import '../../../scss/global';
.k-grid tr.k-alt {
  background: transparent;
}
.k-grid tr.totalrow.k-state-selected td {
  color: $white;
}
#alt-vertical-grid
  .k-grid-container
  div:nth-child(1)
  .k-grid-table-wrap
  .k-grid-table {
  .totalrow td:nth-child(1)::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #a2a2a2; //one-off color not used anywhere else
    display: block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-radius: 0px 0px 0px 20px;
    border: 10px solid $black;
    border-width: 0px 0px 10px 10px;
    transition: $fast-transition;
  }
  .totalrow:hover td:nth-child(1)::after {
    background-color: $table-hover;
  }
  .totalrow.k-state-selected td:nth-child(1)::after {
    background-color: #6f7c82; //one-off color not used anywhere else
  }
}

.k-grid tr.subtotalrow {
  background: $grey-darker;

  td {
    border-top: 1px dashed $grey-darker;
    border-bottom: 1px dashed $grey-light;
  }
}

.k-grid tr.totalrow {
  background-color: $grey-light;
  color: $black;

  td {
    color: $black;
    font-weight: bold;
    border-top: 0px;
    border-bottom: 30px solid $black;
    border-left: 0px;
    position: relative;
  }
  &:hover td {
    color: $white;
  }
}
.k-grid .k-grid-content-locked tr.subtotalrow td,
.k-grid .k-grid-content-locked tr.totalrow td {
  background-color: rgba(255, 255, 255, 0.2);
}

.k-grid tbody tr:hover,
.k-grid tbody tr:hover td,
.k-grid .k-grid-content-locked tr:hover td,
.k-grid .k-grid-content-locked tr.subtotalrow:hover td,
.k-grid tr.k-alt.subtotalrow:hover td,
.k-grid tr.subtotalrow:hover td {
  background-color: $table-hover;
  border-top: 1px solid $grey-light;
}

#vertical-grid.k-grid tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.05);
}
.k-grid tr.k-alt {
  background-color: rgba(255, 255, 255, 0.08);
}
#vertical-grid.k-grid tbody tr:hover td {
  background-color: #0f1f26;
}
/* new stuff */

.filter-block.vertgrid {
  display: none;
}

#vertical-grid-alt.k-grid {
  border: 0px;
}
.expand-button-container {
  border-left: 1px solid #fff;
  display: block;;
  padding: 0px 0px 0px 5px;
  height: 19px;
  margin-left: 5px;
  width: 100px;
  overflow-x: hidden;
}
#expandall {
  background-color: transparent;
  color: $blue-color;
  padding: 0px;
  font-size: $smallest-font;
  margin-top: -3px;
  transition: $default-transition;
}
#expandall::before,
#collapseall::before {
  content: '';
  background-image: url('/assets/icons/expandall-blue.svg');
  width: 15px;
  height: 15px;
  background-color: transparent;
  display: inline-block;
  opacity: 1;
  position: relative;
  background-size: contain;
}
.expanded #expandall {
  margin-top: -40px;
}
#collapseall {
  background-color: transparent;
  color: $blue-color;
  padding: 0px 0px 0px 7px;
  font-size: $smallest-font;
  margin-top: -100px;
  transition: $default-transition;
}
#collapseall::before {
  transform: rotate(90deg);
}
.expanded #collapseall {
  margin-top: -44pxpx;
}
