@import '../../../scss/global';
.k-grid tr.k-alt {
  background: transparent;
}
.k-grid tr.totalrow.k-state-selected td {
  color: $white;
}
#alt-vertical-grid
  .k-grid-container
  div:nth-child(1)
  .k-grid-table-wrap
  .k-grid-table {
  .totalrow td:nth-child(1)::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #a2a2a2; //one-off color not used anywhere else
    display: block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-radius: 0px 0px 0px 20px;
    border: 10px solid $black;
    border-width: 0px 0px 10px 10px;
    transition: $fast-transition;
  }
  .totalrow:hover td:nth-child(1)::after {
    background-color: $table-hover;
  }
  .totalrow.k-state-selected td:nth-child(1)::after {
    background-color: #6f7c82; //one-off color not used anywhere else
  }
}

.k-grid tr.subtotalrow {
  background: $grey-darker;

  td {
    border-top: 1px dashed $grey-darker;
    border-bottom: 1px dashed $grey-light;
  }
}

.k-grid tr.totalrow {
  background-color: $grey-light;
  color: $black;

  td {
    color: $black;
    font-weight: bold;
    border-top: 0px;
    border-bottom: 30px solid $black;
    border-left: 0px;
    position: relative;
  }
  &:hover td {
    color: $white;
  }
}
.k-grid .k-grid-content-locked tr.subtotalrow td,
.k-grid .k-grid-content-locked tr.totalrow td {
  background-color: rgba(255, 255, 255, 0.2);
}

// .k-grid tbody tr:hover,
// .k-grid tbody tr:hover td,
// .k-grid .k-grid-content-locked tr:hover td,
// .k-grid .k-grid-content-locked tr.subtotalrow:hover td,
// .k-grid tr.k-alt.subtotalrow:hover td,
// .k-grid tr.subtotalrow:hover td {
//   background-color: $table-hover;
//   border-top: 1px solid $grey-light;
// }

#vertical-grid.k-grid tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.05);
}
.k-grid tr.k-alt {
  background-color: rgba(255, 255, 255, 0.08);
}

/* new stuff */

.filter-block.vertgrid {
  display: none;
}

#vertical-grid-alt.k-grid {
  border: 0px;
}
.expand-button-container {
  border-left: 1px solid #fff;
  display: block;
  padding: 0px 0px 0px 5px;
  height: 18px;
  margin-left: 5px;
  width: 90px;
  margin-top: 3px;
  overflow: hidden;
  position: relative;
}
.expand-button-container::before {
  content: '';
  background-image: url('/assets/icons/expandall-blue.svg');
  width: 15px;
  height: 15px;
  background-color: transparent;
  display: inline-block;
  opacity: 1;
  background-size: contain;
  margin-right: 3px;
  cursor: pointer;
  position: absolute;
  transition: $default-transition;
}

.expanded .expand-button-container::before {
  transform: rotate(180deg);
}
#expandall,
#collapseall {
  background-color: transparent;
  color: $blue-color;
  padding: 0px;
  margin-left: 17px;
  position: relative;
  font-size: $smallest-font;
  transition: $fast-transition;
}
#expandall {
  top: -3px;
  opacity: 1;
}
#collapseall {
  top: 0px;
  opacity: 0;
}
.expanded #expandall {
  top: -20px;
  opacity: 0;
}
.expanded #collapseall {
  top: -25px;
  opacity: 1;
}

.k-grid .k-hierarchy-cell > .k-icon.k-i-plus,
.k-grid .k-hierarchy-cell > .k-icon.k-i-minus {
  position: absolute;
  right: -170px;
  z-index: 6;
  width: 200px;
  height: 53px;
  top: 0px;
  padding: 0;
  margin: 0;
  display: flex;
justify-content: right;
}
.k-icon.k-i-plus:before,
.k-icon.k-i-minus:before {
  content: '\e005';
  transform: rotate(0deg);
  transition: $default-transition;
  font-size: 32px;
  color: black;
  line-height: 0px;
  display: block;
}
.k-icon.k-i-minus:before {
  transform: rotate(90deg);
}

.k-grid .k-grid-content td[data-kendo-grid-column-index='0'] {
  border-left: 0px;
  margin-left: -10px;
  padding-left: 0px;
  display: block;
}
.k-detail-row .k-detail-cell {
  margin-left: -45px;
  display: table;
  padding: 0px 0px 0px 12px;
}
.k-grid .k-detail-row div.k-grid-header {
  display: none;
}
.k-grid .k-detail-row .k-detail-row div.k-grid-header {
  display: initial;
}

.k-grid .k-detail-row .k-hierarchy-cell > .k-icon.k-i-plus,
.k-grid .k-detail-row .k-hierarchy-cell > .k-icon.k-i-minus {
  position: relative;
  right: 0px;
  top: 5px;
}
.k-grid .k-detail-row .k-hierarchy-cell > .k-icon.k-i-plus::before,
.k-grid .k-detail-row .k-hierarchy-cell > .k-icon.k-i-minus::before {
  color: p;
  font-size: 24px;
}

.k-grid .k-detail-row .k-grid-content td[data-kendo-grid-column-index='0'] {
  margin-left: 0px;
  padding-left: 10px;
  display: table-cell;
}
.k-grid .k-grid-content td[data-kendo-grid-column-index='1'] {
  border-left: 2px solid black;
}

#vertical-grid-alt .k-grid-header .k-header {
  border-bottom: 1px solid #ccc;
}
.k-grid tr.k-master-row td.k-hierarchy-cell {
  overflow: visible;
}
.k-grid tr.k-master-row {
  background: #c2c2c2;
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.k-grid .k-detail-row tbody tr.k-master-row {
  background: #525252;
  font-weight: bold;
  color: white;
  font-size: 14px;
}
.k-grid tbody tr.k-master-row:hover {
  background: #42a0c9 !important;
  color: #ccc;
  border-top: 3px solid black;
}
.k-grid tbody tr:hover.k-master-row td {
  background: transparent;
  transition: $fast-transition;
}

.k-grid .k-detail-row tbody tr.k-master-row:hover {
  background: rgba(175, 212, 230, 0.3);
  border-top: 3px solid black;
}
.k-grid .k-detail-row tbody tr.k-alt.k-master-row:hover td,
.k-grid .k-detail-row tbody tr.k-master-row:hover td {
  background: rgba(194, 194, 194, 0.7);
  border-top: 1px solid black;
}


.k-grid tr.k-master-row td {
  background: #b9b9b9;
  font-weight: bold;
  color: black;
  padding: 15px 0 15px 12px;
  font-size: 16px;
  position: relative;
  border-left: 1px solid #999;
  border-top: 3px solid black;
}
.k-grid tr.k-alt.k-master-row td {
  background: #9f9f9f;
  border-top: 3px solid black;
}


.k-grid .k-detail-row tr.k-master-row td {
  background: #525252;
  font-weight: bold;
  color: white;
  padding: 5px 0 5px 12px;
  font-size: 14px;
  position: relative;
  border-top: 1px solid black;
  border-left-color: #404040;
}
.k-grid .k-detail-row tr.k-master-row:hover {
  border-top: 0px;
}

.k-grid tbody tr.k-alt.k-master-row:hover td,
.k-grid tbody tr.k-master-row:hover td {
  background: rgba(194, 194, 194, 0.7);
  border-top: 3px solid black;
  border-left: 1px solid #42a0c9;
  margin-left: 0px;
}

.k-grid tbody tr.k-alt.k-master-row:hover td[data-kendo-grid-column-index='0'],
.k-grid tbody tr.k-master-row:hover td[data-kendo-grid-column-index='0'] {
  border-left: 0px;
}
.k-grid tbody tr.k-alt.k-master-row:hover td[data-kendo-grid-column-index='1'],
.k-grid tbody tr.k-master-row:hover td[data-kendo-grid-column-index='1'] {
  border-left: 2px;
}



.k-grid tr.k-detail-row {
  // background: #919191;
  font-size: 14px;
  padding: 10px 0 10px 11px;
  overflow: clip support;
  overflow: clip;
}
// .k-grid tbody tr.k-detail-row:hover {
//   background: rgba(182, 182, 182, 0.7);
// }
.k-grid tbody tr.k-detail-row td {
  border-top: 0px;
  border-bottom: 0px;
}
th.k-header[aria-colindex='2'] {
  border-left: 0px;
  padding-left: 0;
  text-indent: -10px;
  overflow: visible;
}
.k-hierarchy-cell.k-header {
  background: transparent;
}
.k-grid .k-detail-row tr.k-master-row {
  font-weight: normal;
  background: #333;
}
.thirdlevel-block {
  margin: 0px 15px 10px 15px;
  border-radius: 0px 0px 8px 8px;
  border-width: 7px 2px 2px 2px;
  border-color: #525252;
  border-style: solid;
}
.thirdleveldata.k-widget.k-grid {
}
.thirdleveldata.k-widget.k-grid .k-grid-header .k-header {
  font-size: 13px;
  font-weight: bold;
}
.thirdleveldata.k-widget.k-grid td {
  font-size: 13px;
}
