@import '../../../scss/global';

// Overrides of the Kendo Dark theme
.k-grid .k-grid-content-locked .k-state-selected.k-alt td,
.k-grid .k-grid-content-locked .k-state-selected td {
  background-color: transparent;
}
.k-grid .k-grid-content-locked .k-state-selected:hover td,
.k-grid .k-grid-content-locked .k-state-selected.k-state-hover td {
  background-color: $table-hover;
}

/* Vertical Grid formatting */
.k-grid .k-grid-content-locked tr.k-state-selected,
.k-grid .k-grid-content-locked tr.k-state-selected:hover,
.k-grid .k-grid-content-locked tr.k-state-selected.k-state-hover,
.k-grid .k-grid-content-locked tr.k-state-selected.k-alt,
.k-grid .k-grid-content-locked tr.k-state-selected td,
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  background-color: $table-hover;
  color: white;
  font-weight: 600;
  border-top: 1px solid $table-hover;
}

.k-grid tbody tr {
  transition: $default-transition;
}
.k-grid tbody tr td {
  transition: $fast-transition;
}
/* shared */
.good,
.late {
  background: #54b948;
  font-size: 12px;
  color: black;
  padding: 3px 7px;
  border-radius: 5px;
}
.late {
  background: #e31b23;
}
.text-bold {
  font-weight: 600;
}

.filter-block {
  display: none;
}
.block-filters {
  display: flex;
  gap: 12px;
  flex-flow: nowrap;
  margin-top: 3px;
}
.block-filterbuttons {
  margin-left: 20px;
  display: flex;
  gap: 12px;
}
.fullscreened {
  .filter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
  }
  .filter-title {
    font-size: 20px;
  }
  .card-title-text {
    font-size: 24px;
    color: white;
  }
  .k-grid-toolbar {
    display: grid;
    align-items: center;
    background: #29272a;
    border-radius: 10px;
    margin: 20px 20px;
    width: calc(100% - 70px);
    border: 1px solid #404040;
    padding: 0px;
    grid-template-columns: auto auto auto;

    > div {
      padding: 20px;
    }
  }
  #vertical-grid .k-select {
    border-radius: 0 5px 5px 0;
  }
  .fullscreened #vertical-grid .k-select {
    padding: 3px 0px;
  }
  .fullscreened #vertical-grid .k-input {
    padding: 3px 6px;
  }
}

#vertical-grid.k-grid tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.05);
}
.k-grid tr.k-alt {
  background-color: rgba(255, 255, 255, 0.08);
}
